<h1><%= current_user.name %>'s cart <%= current_user_cart.cart_items.count %> items</h1>
<p><%= link_to "Back To Browse items", root_path %> </p>

<div class="cart-widget">
  <div class="cart-summary">
    <i class="fas fa-shopping-cart"></i>
    <h4>Total Price:
      <span>$<%= current_user_cart.cart_items.sum { |item| item.promotional_total || item.total } %></span>
    </h4>
  </div>
</div>

<div class="items-grid" style="border: 1px solid red; display: flex; align-items: center; flex-direction: column;">
      <% @cart_items.each do |cart_item| %>
        <div class="item-card" style="border: 1px solid blue; width: 500px;">
          <div class="item-details" style="display: flex; align-items: center; justify-content: space-between;">
            <h3><%= cart_item.item.name %></h3>
            <% if cart_item.promotional_total %>
              <h4 class="price">Unit Price: $<%= number_with_precision(cart_item.item.price, precision: 2) %></h4>
            <% end %>
            <div class="price-container">
              <% if cart_item.promotional_total %>
                <h4 class="price" style='color: green;'>Price: $<%= number_with_precision(cart_item.promotional_total, precision: 2) %></h4>
                <h3 class="price" style='text-decoration: line-through;'>Price: $<%= number_with_precision(cart_item.total, precision: 2) %></h3>
              <% else %>
                <h4 class="price">Price: $<%= number_with_precision(cart_item.total, precision: 2) %></h4>
              <% end %>

              <% if cart_item.item.promotion %>
                <p class="price">Promotion: $<%= number_with_precision(cart_item.item.promotion&.percent_off, precision: 2) %> <%= number_with_precision(cart_item.item.promotion&.discount_type_text.humanize) %></p>
              <% end %>
            </div>
          </div>
          <div class="item-detail">
            <h4>Sold By: <%= cart_item.item.sold_by %></h4>
            <h4 class="price">Unit: <%= cart_item.item.unit_weight %> <%= cart_item.item.unit_weight_label&.humanize %></h4>

            <h4><%= cart_item.item.quantity? ? "Quantity" : "Weight" %>:
              <%= form_with url: user_cart_item_path(cart_item), method: :patch, class: "d-inline" do %>
                <%= hidden_field_tag :item_id, cart_item.id %>
                  <% if cart_item.item.quantity? %>
                    <%= number_field_tag :quantity, cart_item.quantity, min: 1, max:20, class: "form-control" %>
                  <% else %>
                    <%= number_field_tag :quantity, cart_item.quantity, min: 0, class: "form-control" %>
                  <% end %>
                <%= submit_tag "Update", class: "btn btn-success" %>
              <% end %>
            </h4>
            <h4>Brand: <%= cart_item.item.brand&.name %></h4>
            <h4>Category: <%= cart_item.item.category&.name %></h4>
          </div>
          <div class="item-actions">
            <%= form_with url: user_cart_item_path(cart_item), method: :delete, class: "d-inline" do %>
              <%= hidden_field_tag :id, cart_item.id %>
              <%= submit_tag "remove", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>