<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Sold by:</strong>
    <%= item.sold_by %>
  </p>

  <p>
    <strong>Unit weight:</strong>
    <%= item.unit_weight %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= item.merchant_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= item.brand_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category_id %>
  </p>

</div>
