<div id="<%= dom_id promotion %>">
  <p>
    <strong>Status:</strong>
    <%= promotion.status %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= promotion.type %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= promotion.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= promotion.end_date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= promotion.quantity %>
  </p>

  <p>
    <strong>Get quantity:</strong>
    <%= promotion.get_quantity %>
  </p>

  <p>
    <strong>Percent off:</strong>
    <%= promotion.percent_off %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= promotion.category_id %>
  </p>

</div>
